<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OurProject</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logindetail</display-name>
    <servlet-name>Logindetail</servlet-name>
    <servlet-class>Logindetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logindetail</servlet-name>
    <url-pattern>/Logindetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modeofpayment</display-name>
    <servlet-name>modeofpayment</servlet-name>
    <servlet-class>modeofpayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modeofpayment</servlet-name>
    <url-pattern>/modeofpayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serveces</display-name>
    <servlet-name>serveces</servlet-name>
    <servlet-class>serveces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serveces</servlet-name>
    <url-pattern>/serveces</url-pattern>
  </servlet-mapping>
</web-app>