     body
      {
		color:white;
      }
            ul {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color:rgba(120, 120, 120,1);
}
li {
  float: right; 
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding:16px;
  text-decoration: none;
  flex-direction: column;
}
.s1{
    background-image: url("../images/s1.jpg");
    height:1000px;
  background-size: 100% 100% ;
  background-repeat: no-repeat;
}
.s1{
  box-sizing: border-box;
  margin-left: 10px;
}
.mno
{
font-size: 20px;
}